.home-header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(30px);
    width: 100%;
    display: grid;
    place-items: center;
}

.header-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.header-left a {
    display:flex;
    align-items: center;
    gap: 20px;
}

.header-left img {
    width: 50px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right button {
    font-size: 16px;
    padding: 0px 20px;
    border: none;
    border-radius: 10px;
    transition: all .2s;
    cursor: pointer;
    height: 100%;
}

.header-right svg {
    cursor: pointer;
}

.header-right button:hover {
    filter: opacity(.7);
}

.login-btn {
    background-color: var(--letters);
    color: var(--background);
}

.regiter-btn {
    background-color: var(--medium);
    color: var(--letters);
}

.cart-length {
    color: var(--background);
    background-color: var(--letters);
    border-radius: 50%;
    padding: 5px;
    aspect-ratio: 1 / 1;
    width: 30px;
    display: grid;
    place-items: center;
}

.popup-overlay {
    background-color: var(--medium-overlay);
}

.popup-content {
    background-color: var(--background);
    padding: 25px;
    border-radius: 10px;
    width: 350px;
}

.cart-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-cart {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-cart p {
    font-weight: bold;
}

.product-cart img {
    width: 50px;
    height: 60px;
    border-radius: 5px;
}

.product-cart button {
    border: 1px solid var(--red);
    border-radius: 10px;
    background-color: var(--red-bg);
    cursor: pointer;
}

.product-cart-info {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.total-price-container {
    display: flex;
    justify-content: space-between;
}

.pay-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pay-container button {
    background-color: var(--letters);
    color: var(--background);
    border: none;
    padding: 10px 0px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
}

.pay-container button:hover {
    filter: opacity(.7);
}

@media (max-width: 900px) {
    .header-container {
        width: 100%;
        padding: 20px 20px;
    }

    .header-left a h1 {
        display: none;
    }
}
