.home-header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(30px);
    width: 100%;
    display: grid;
    place-items: center;
}

.header-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.header-left a {
    display:flex;
    align-items: center;
    gap: 20px;
}

.header-left img {
    width: 50px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right button {
    font-size: 16px;
    padding: 0px 20px;
    border: none;
    border-radius: 10px;
    transition: all .2s;
    cursor: pointer;
    height: 100%;
}

.header-right svg {
    cursor: pointer;
}

.header-right button:hover {
    filter: opacity(.7);
}

.login-btn {
    background-color: var(--letters);
    color: var(--background);
}

.regiter-btn {
    background-color: var(--medium);
    color: var(--letters);
}
