.main {
    display: grid;
    place-items: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 900px;
    justify-content: center;
}

.product {
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--medium);
    padding: 15px;
    border-radius: 20px;
}

.product img {
    width: 100%;
    height: 272px;
    object-fit: cover;
    border-radius: 10px;
}

.product button {
    border: none;
    background-color: var(--letters);
    color: var(--background);
    padding: 15px 30px;
    border-radius: 10px;
    transition: all .2s;
    font-size: 16px;
}

.product button:hover {
    cursor: pointer;
    filter: opacity(.7);
}

.product button:disabled {
    filter: opacity(.7);
}

.product button:disabled:hover {
    cursor: default;
}