@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,800&display=swap');

:root {
    --background: #fff;
    --letters: #000;
    --medium: #aaa;
    --red: #f00;
    --red-bg: rgba(255, 0, 0, 0.4);
    --medium-overlay: #00000070;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif; 
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#root {
    width: 100%;
}

input, textarea, button {
    font-family: 'DM Sans', sans-serif; 
}

h1, h2, h3, h4, h5, h6, p, ul, li, ol {
    margin: 0px;
    font-family: 'DM Sans', sans-serif; 
}

a {
    color: var(--letters);
    text-decoration: none;
}

@media (max-width: 900px) {
    h1 { font-size: 20px; }
}